<%- include('base/header') -%>
<div class="hero d-flex align-items-center justify-content-center p-2">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <div class="d-flex flex-column">
          <span class="hero-text-primary"
            >Confused After P<span style="border-bottom: 4px solid #ee7c3b"
              >lus 2 ??</span
            ></span
          ><span class="hero-text-primary-2 mt-2"
            >Don't Worry !! We got you covered !</span
          ><span class="hero-text-secondary mt-3">
            Join our entrance preparation classes and get access to lots of
            learning materials, counselling from experts, as well as scholarship
            for deserving candidates.</span
          >
        </div>
        <button
          class="btn-primary mt-4"
          onclick="window.location.href='/contact'"
        >
          <i class="fa-solid fa-lock me-2"></i>BOOK YOUR SEAT
        </button>
      </div>
      <div class="col d-none d-lg-block">
        <img src="/img/hero-img.png" alt="hero-image" class="hero-img" />
      </div>
    </div>
  </div>
</div>
<div class="courses mt-2" id="courses">
  <div class="container">
    <h1
      class="text-uppercase mb-4 text-center"
      style="font-weight: 900; color: var(--primary-orange)"
    >
      OUR <span style="color: var(--primary-black)">COURSES</span>
    </h1>
    <div class="row g-4 mt-4">
      <% for (item in courses) { %>
      <div class="col-12 col-sm-6 col-lg-3">
        <a href="/course/<%= courses[item].id %>" class="course-card-link">
          <div class="course-card-modern course-card-compact">
            <!-- Course Content -->
            <div class="course-card-content">
              <div class="course-title-section">
                <h5 class="course-title"><%= courses[item].fullForm ? courses[item].fullForm : courses[item].title %></h5>
              </div>

              <div class="course-university-section">
                <i class="fa-solid fa-building-columns university-icon"></i>
                <span class="university-name"><%= courses[item].universityName || 'University Affiliation' %></span>
              </div>

              <div class="course-duration-section">
                <i class="fa-solid fa-clock duration-icon"></i>
                <span class="duration-text"><%= courses[item].duration || 'Duration' %></span>
              </div>
            </div>

            <!-- Course Footer -->
            <div class="course-card-footer">
              <div class="course-action">
                <span class="action-text">Learn More</span>
                <i class="fa-solid fa-arrow-right action-arrow"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
      <% } %>
    </div>

    <!-- More Courses Button -->
    <div class="text-center mt-3">
      <a href="/courses" class="btn-primary btn-lg">
        <i class="fa-solid fa-plus me-2"></i>More Courses
      </a>
    </div>
  </div>
</div>

<!-- Colleges Section -->
<div class="courses mt-5" id="colleges">
  <div class="container">
    <h1
      class="text-uppercase mb-4 text-center"
      style="font-weight: 900; color: var(--primary-orange)"
    >
      PARTNERED <span style="color: var(--primary-black)">COLLEGES</span>
    </h1>
    <div class="row g-4 mt-4">
      <% for (item in colleges) { %>
      <div class="col-12 col-sm-6 col-lg-3">
        <a href="/college/<%= colleges[item]._id %>" class="college-card-link">
          <div class="college-card-modern">
            <!-- College Banner -->
            <div class="college-banner">
              <% if (colleges[item].collegeLogo) { %>
              <img
                src="/colleges/<%=
                  typeof colleges[item].collegeLogo === 'string'
                    ? colleges[item].collegeLogo
                    : colleges[item].collegeLogo.filename ||
                      colleges[item].collegeLogo.key ||
                      colleges[item].collegeLogo
                %>"
                alt="college-banner"
                class="college-banner-image"
              />
              <% } else { %>
              <div class="college-banner-placeholder">
                <i class="fa-solid fa-building-columns college-banner-placeholder-icon"></i>
              </div>
              <% } %>
            </div>

            <!-- College Content -->
            <div class="college-content">
              <div class="college-name-section">
                <h5 class="college-name"><%= colleges[item].collegeName %></h5>
                <i class="fa-solid fa-circle-check verified-icon"></i>
              </div>

              <div class="college-university-section">
                <i class="fa-solid fa-building-columns university-icon"></i>
                <span class="university-name">
                  <%= colleges[item].universityName || 'University Affiliation' %>
                </span>
              </div>

              <div class="college-location-section">
                <i class="fa-solid fa-location-dot location-icon"></i>
                <span class="location-text"><%= colleges[item].collegeAddress %></span>
              </div>

              <div class="college-courses-section">
                <i class="fa-solid fa-graduation-cap courses-icon"></i>
                <span class="courses-text"><%= colleges[item].coursesOffered ? colleges[item].coursesOffered.length : 0 %> Courses</span>
              </div>
            </div>

            <!-- College Footer -->
            <div class="college-card-footer">
              <div class="college-action">
                <span class="action-text">Learn More</span>
                <i class="fa-solid fa-arrow-right action-arrow"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
      <% } %>
    </div>

    <!-- More Colleges Button -->
    <div class="text-center mt-4">
      <a href="/colleges" class="btn-primary btn-lg">
        <i class="fa-solid fa-plus me-2"></i>More Colleges
      </a>
    </div>
  </div>
</div>

<div class="stats mt-5">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3">
        <div class="stats-card-wrapper">
          <span class="stats-heading">16 +</span>
          <span class="stats-content text-uppercase">staff team</span>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="stats-card-wrapper">
          <span class="stats-heading">24 +</span>
          <span class="stats-content text-uppercase">teachers</span>
        </div>
      </div>
      <div class="col-6 col-md-3 mt-5 mt-md-0">
        <div class="stats-card-wrapper">
          <span class="stats-heading">6000 +</span>
          <span class="stats-content text-uppercase">students</span>
        </div>
      </div>
      <div class="col-6 col-md-3 mt-5 mt-md-0">
        <div class="stats-card-wrapper">
          <span class="stats-heading">35 +</span>
          <span class="stats-content text-uppercase">colleges</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="why-choose mt-5">
  <div class="container">
    <div class="row">
      <h1
        class="text-uppercase mb-5 text-center"
        style="font-weight: 900; color: var(--primary-orange)"
      >
        WHY CHOOSE <span style="color: var(--primary-black)">US ?</span>
      </h1>
      <div
        class="col-12 col-md-6 col-lg-3 d-flex align-items-center justify-content-center flex-column px-4"
      >
        <div class="icon-frame">
          <img src="/img/aq.png" alt="why choose us" class="icon-frame-img" />
        </div>
        <div class="icon-heading mt-3">Authentic Questions</div>
        <div class="icon-description mt-2">
          We seek to provide real and repeated and also latest reliable qustions
          for all of the course in mocktest as well as in the tasks of the book.
        </div>
      </div>
      <div
        class="col-12 col-md-6 col-lg-3 d-flex align-items-center justify-content-center flex-column mt-5 mt-lg-0 px-4"
      >
        <div class="icon-frame">
          <img src="/img/hs.png" alt="why choose us" class="icon-frame-img" />
        </div>
        <div class="icon-heading mt-3">Hints & Solutions</div>
        <div class="icon-description mt-2">
          We include many useful hints for solving the problems including the
          solution that really helps the students to crack the entrance exam.
        </div>
      </div>
      <div
        class="col-12 col-md-6 col-lg-3 d-flex align-items-center justify-content-center flex-column mt-5 mt-lg-0 px-4"
      >
        <div class="icon-frame">
          <img src="/img/ps.png" alt="why choose us" class="icon-frame-img" />
        </div>
        <div class="icon-heading mt-3">Chapterwise Practice Set</div>
        <div class="icon-description mt-2">
          There are chapter wise practice set which are repeatedly asked,
          suggested by expertise and seems to be important for entrance exam.
        </div>
      </div>
      <div
        class="col-12 col-md-6 col-lg-3 d-flex align-items-center justify-content-center flex-column mt-5 mt-lg-0 px-4"
      >
        <div class="icon-frame">
          <img src="/img/re.png" alt="why choose us" class="icon-frame-img" />
        </div>
        <div class="icon-heading mt-3">Regular Mock Tests</div>
        <div class="icon-description mt-2">
          Every Saturday, we conduct free mock test that can boost the hard
          effort and prepare the students to crack the entrance exam with ease.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="what-we-offer-wrapper mt-5">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column">
        <span class="home-quote text-center mt-0 mt-md-5"
          >"education is the passport to the future, for tomorrow belongs to
          those who prepare for it today"</span
        >
        <span class="home-quote-author mt-2 text-center text-md-end"
          >MalcolmX -</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
        <div class="row align-items-center">
          <div
            class="col-12 col-md-6 d-flex flex-column align-items-center align-items-md-start justify-content-center order-1 order-md-0 mt-3 p-2 ps-md-5"
          >
            <div class="offer-heading text-center">
              <span
                >Learn from the
                <span style="color: var(--primary-orange)">best</span></span
              >
            </div>
            <div class="offer-description mt-3 text-center text-md-start">
              <span
                >We have a range of expert teachers of each faculty for
                different courses. Students who wants to join are free to
                interact with any teachers and TU professionals and highly
                experinced teachers faculty are maintained to solve students
                query during teaching period.</span
              >
            </div>
          </div>
          <div
            class="col-12 col-md-6 d-flex justify-content-center order-0 order-md-1"
          >
            <div class="offer-image">
              <span>
                <img src="/img/learn.png" alt="learn-img" class="offer-img" />
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4 mt-md-0">
        <div class="row align-items-center">
          <div
            class="col-12 col-md-6 d-flex flex-column align-items-center align-items-md-start justify-content-center order-1 order-md-1 mt-3 mt-md-0 p-2 pe-md-5"
          >
            <div class="offer-heading text-center">
              <span
                >Class as per your
                <span style="color: var(--primary-orange)"
                  >preference</span
                ></span
              >
            </div>
            <div class="offer-description mt-3 text-center text-md-start">
              <span
                >Both Morning, Day, Evening shift are available for enrollment.
                We serve Morning & Day shift for physical classes whereas
                Evening shift is for those students who prefer online classes
                for any program. With the help of Digital Board, students can be
                able to study as like a physcial ones.</span
              >
            </div>
          </div>
          <div
            class="col-12 col-md-6 d-flex justify-content-center order-0 order-md-0"
          >
            <div class="offer-image">
              <span>
                <img src="/img/online.png" alt="learn-img" class="offer-img" />
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4 mt-md-0">
        <div class="row align-items-center">
          <div
            class="col-12 col-md-6 d-flex flex-column align-items-center align-items-md-start justify-content-center order-1 order-md-0 mt-3 mt-md-0 p-2 ps-md-5"
          >
            <div class="offer-heading text-center">
              <span
                >Chance to get huge
                <span style="color: var(--primary-orange)"
                  >scholarships</span
                ></span
              >
            </div>
            <div class="offer-description mt-3 text-center text-md-start">
              <span
                >Deserving students & merit based students have a high chance
                for scholarship. Every year, we aim to provide scholarships to
                more than 150 students on enrollment for IT and various other
                programs. This has helped many students study their dream
                course.
              </span>
            </div>
          </div>
          <div
            class="col-12 col-md-6 d-flex justify-content-center order-0 order-md-1"
          >
            <div class="offer-image">
              <span>
                <img src="/img/scholar.png" alt="learn-img" class="offer-img" />
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4 mt-md-0">
        <div class="row align-items-center">
          <div
            class="col-12 col-md-6 d-flex flex-column align-items-center align-items-md-start justify-content-center order-1 order-md-1 mt-3 mt-md-0 p-2 pe-md-5"
          >
            <div class="offer-heading text-center">
              <span
                >Test your limits with our
                <span style="color: var(--primary-orange)"
                  >mock tests</span
                ></span
              >
            </div>
            <div class="offer-description mt-3 text-center text-md-start">
              <span
                >We understand the importance of practice and preparation when
                it comes to competitive exams. To assist our students we offer
                authentic and TU based mock tests every Saturday where students
                can experience similar structure, format and time constrains of
                the actual exam.
              </span>
            </div>
          </div>
          <div
            class="col-12 col-md-6 d-flex justify-content-center order-0 order-md-0"
          >
            <div class="offer-image">
              <span>
                <img src="/img/exam.png" alt="learn-img" class="offer-img" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('base/footer') -%>
